@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  border: 0 0 0 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Merriweather', serif;
  letter-spacing: .7px;
  font-size: 150%;
}

mv-row {
  display: block;
}
mv-row > * {
  display: block;
  padding-left: 10px;
  margin: 0 0 0 0;
}

mv-row:hover {
  border-left: 5px solid #D8D8D8;
  background-color: #E8E8E8;
  cursor: text;
}
mv-row:hover > * {
  padding-left: 5px;
}


new-line {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #E8E8E8;
  outline: none;
}

blockquote.markdown-editor :focus {
  font-family: 'Merriweather', serif;
  outline: none;
}
blockquote.markdown-editor {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 110%;
}

p.endpage {
  background-color: #F0F0F0;
}
